:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;

  --fuente-principal: 3.8rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box; /* esto ayuda a que no me afecte el tamaño con el padding*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px */
  font-family: "Krub", sans-serif;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  max-width: 120rem;
  /* margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;  esto se puede simplificar y hacerlo tal como las manillas del reloj */
  margin: 0 auto;
}

.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .5rem;
  width: 90%;
  text-align: center;
}

@media (min-width: 768px) {
  .boton {
width: auto;
  }
}

.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal {
  display: flex;
  flex-direction: column;
}

@media (min-width: 480px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between; /*separaciones horizointal*/
  }
}

.navegacion-principal a {
  display: block;
  text-align: center;
  color: var(--blanco);
  text-decoration: none; /*esto es para quitar el subrayado en la nav*/
  font-size: 2rem;
  font-weight: bold; /* o 700 es lo mismo es para que este en negrita*/
  padding: 1rem;
}

.navegacion-principal a:hover {
  background-color: var(
    --primario
  ); /*para cuando se pase por la barra cambie el color*/
  color: var(--oscuro);
}

@media (min-width: 480px) {
  h1 {
  }
}

@media (min-width: 780px) {
  h1 {
  }
}

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 410px;
  position: relative; /* el padre siempre debe ser relative para que el hijo sea absolute */
}
.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); /** anterior **/
  background-color: rgb(
    0 0 0 / 70%
  ); /** nueva manera de hacerlo, no esta muy soportado **/
  width: 100%;
  height: 100%;

  /**esto es para alinear verticalmente y horizontalmente**/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}

.ubicacion {
  display: flex;
  align-items: flex-end;
}