:root {
--blanco:#ffffff;
--oscuro: #212121;
--primario:#ffc107;
--secundario:#0097a7;
--gris:#757575;

--fuente-principal: 3.8rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 1rem = 10px */
  font-family: "Krub", sans-serif;
}

.titulo {
  text-align: center;
  font-size: var(--fuente-principal);
  color: var(--primario);
  
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  width: 120rem;
  /* margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;  esto se puede simplificar y hacerlo tal como las manillas del reloj */
  margin: 0 auto; 
}

.nav-bg{
background-color: var(--secundario);
}

.navegacion-principal{
  
}
